server:
  port: 8080

spring:
  config:
    import: optional:file:.env[.properties]

  application:
    name: insurance-core-service

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true

logging:
  level:
    com.policymanagementplatform.insurancecoreservice: INFO
